/*.Board{ 
  
}*/

.container{
    display: flex; 
    justify-content: center; 
}

.boardContainer{
    display: flex;
    height: 100vh; 
    align-items: center; 
    justify-content: center; 
}

@media only screen and (max-width: 600px){
    .boardContainer{
        width: 300px; 
    }
}

@media only screen and (min-width: 601px) and (max-width: 991px){
    .boardContainer{
        width: 400px; 
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px){
    .boardContainer{
        width: 500px; 
    }
}

@media only screen and (min-width: 1200px){
    .boardContainer{
        width: 800px;  
    }
}

.Board{
    flex: 1 0 auto; 
    height: auto; 


    display: grid; 
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    grid-template-rows: repeat(3, minmax(0, 1fr)); 
    grid-gap: 5px; 
    background-color: black; 
    border: solid 5px; 

}

.square:before{
    content: ''; 
    display: block; 
    padding-top: 100%; 
}

.square{
    background-color: green; 
}

h1{
    text-align: center; 
}

