.boardContainer{
    /*display: flex;*/
    padding: 2.5% 0 2.5% 0;
    /*height: 100vh; */
    align-items: center; 
    justify-content: center; 
    margin: auto; 
}

.selectionContainer{
    display: flex; 
    flex-direction: column; 
}


.block{
    display: flex; 
    justify-content: center;  
    align-items: center; 
    gap: 10px; 
}

.begin{
    float: right; 
}

@media only screen and (max-width: 600px){
    .boardContainer{
        width: 300px;  
        height: 300px; 
    }
    .Board{
        grid-template-rows: repeat(3, 100px); 
    }
}

@media only screen and (min-width: 601px) and (max-width: 991px){
    .boardContainer{
        width: 400px; 
        height: 400px; 
    }
    .Board{
        grid-template-rows: repeat(3, calc(400px/3)); 
    }
}


@media only screen and (min-width: 992px) and (max-width: 1199px){
    .boardContainer{
        width: 500px; 
        height: 500px; 
        
    }
    .Board{
        grid-template-rows: repeat(3, calc(500px/3)); 
    }
}

@media only screen and (min-width: 1200px){
    .boardContainer{
        width: 600px;  
    }
    .Board{
        grid-template-rows: repeat(3, calc(600px/3)); 
    }
}

body{
    background-color: #fffd74; 
}

.Board{
    display: grid; 
    grid-template-columns: repeat(3, minmax(0, 1fr)); 
    grid-gap: 5px; 
    background-color: black; 
    border: solid 5px; 
}

.square{
    background-color: turquoise; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#p1title,  #p2title{
    font-family: 'Henny Penny', cursive;
}

h1{
    text-align: center; 
    font-family: 'Henny Penny', cursive;
    font-size: 2.5rem; 
}

p{
    font-weight: bold; 
}

button{
    background-color: salmon; 
    border-radius: 20px; 
    font-family: 'Henny Penny', cursive; 
    padding: 20px; 
    font-size: 1.5rem; 
    font-weight: bold; 
}

button:hover{
    font-size: 2rem; 
}

select{
    border-radius: 20px; 
    width: 100px; 
    text-align: center; 
    font-family: 'Henny Penny', cursive; 
    border: solid; 
    background-color: lavender; 
    font-size: 1rem; 
    font-weight: bold; 
}

select:hover{
    background-color: greenyellow
}
option:hover{
    background-color: purple; 
}

.result{
    font-family: 'Henny Penny', cursive;
    font-size: 2rem;  
}
.img{
    height: 100%; 
    width: 100%; 
    object-fit: contain;
}

